$primary-color: #143ca8;

@font-face {
  font-family: "BergenBold"; /*a name to be used later*/
  src: url("../font/BergenText-Bold.otf"); /*URL to font*/
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Bergen"; /*a name to be used later*/
  src: url("../font/BergenText-Regular.otf"); /*URL to font*/
  font-weight: 400;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
  font-weight: 900;
  font-family: "BergenBold";
}
p {
  font-family: "Bergen";
}

#banner {
  min-height: 100vh;

  @media (max-width: 500px) {
    padding-top: 30px;
  }
  h1 {
    font-size: 5em;

    @media (max-width: 500px) {
      font-size: 2em;
    }
  }
  p {
    font-size: 22px;
    margin: 0 0 10px;
    @media (max-width: 500px) {
      font-size: 18px;
    }
  }
}
ul.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  a {
    margin-right: 10px;
    padding: 10px;
    display: block;
    font-size: 2em;
    color: $primary-color;
    border-radius: 20px;
    text-decoration: none;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}
.special-text {
  font-size: 11em !important;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: $primary-color;
  color: transparent;

  @media (max-width: 500px) {
    font-size: 6em !important;
  }
}

#projetos {
  .card {
    position: relative;
    margin-bottom: 20px;
    img {
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s;
    }
    &:before {
      width: 99%;
      height: 100%;
      content: "";
      top: 0;
      left: 0;
      display: block;
      border: 2px solid $primary-color;
      transform: scale(1.1);
      position: absolute;
      pointer-events: none;
      z-index: -1;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
      &:before {
        transform: scale(0.8);
      }
      .mouse-move {
        transform: scale(1);
      }
    }
    .mouse-move {
      position: absolute;
      z-index: 20;
      font-size: 5em;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: $primary-color;
      color: rgba(20, 59, 168, 0.1);
      font-weight: 900;
      transition: transform cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s;
      transform: scale(0);
      pointer-events: none;
      mix-blend-mode: hard-light;
    }
  }
}

#confie {
  h3 {
    font-size: 4em;
    @media (max-width: 500px) {
      font-size: 2.5em;
    }
  }
  .col-md-8 {
    img:nth-child(odd) {
      margin: 0 0 20px;
      float: left;
    }
    img:nth-child(even) {
      margin: 0 0 20px;
      float: right;
    }
  }
}

#contato {
  h3 {
    font-size: 4em;
    @media (max-width: 500px) {
      font-size: 2.5em;
    }
  }
  .whats {
    background-color: #dbd7ce;
    padding: 20px;
    border-radius: 20px;

    img {
      border-radius: 100px;
    }

    .btn-whats {
      border-radius: 15px;
      background-color: #76cc6a;
      font-size: 22px;
      padding: 20px 0;
      color: #fff;
      font-weight: 900;
      margin-top: 20px;
    }
  }
}
footer{
    background-color: $primary-color;
    a{
        color: #fff !important;
        font-size: 22px !important;
        &:hover{
            background-color: #fff !important;
            color: $primary-color !important;
        }
    }
    h4{
        color: #fff;
    }
}